.App {
  $sidebar-width: 240px;

  body {
    font-family: sans-serif;
  }

  h1 {
    margin: 0;
    padding: 10px;
    font-size: 5em;
    font-weight: 100;
  }

  button {
    font-size: 3em;
  }



  .play-button {
    width: 2em;
    height: 2em;
  }

  .masthead {
    background: #eee;
    text-align: center;
  }

  .player {
    text-align: center;
    margin: 20px;
  }

  img {
    zoom: 2;
    width: 100%;
  }

  .main {
    @extend %column;
    width: 100%;
    background: #777;
    max-height: 800px;
    overflow-y: auto;
  }

  .sb-soundplayer-play-icon {
    width: 20px;
    height: 20px;
  }

  .progress-bar {
    height: 2em;
    width: 700px;
    background-color: white;
    margin: 2em auto 2em auto;
    margin-right: auto;
  }

  .progress-bar-inner {
    height: 100%;
    background-color: orange;
  }

  .play-timer {
    font-size: 2em;
  }

}

.SearchSidebar {
  width: 500px;

  input {
    width: 100%;
    font-size: 2em;
  }

  


}
