.App {
  $sidebar-width: 240px;

  body {
    font-family: sans-serif;
  }

  h1 {
    margin: 0;
    padding: 10px;
    font-size: 5em;
    font-weight: 100;
  }

  button {
    font-size: 3em;
  }



  .play-button {
    width: 2em;
    height: 2em;
  }

  .masthead {
    background: #eee;
    text-align: center;
  }

  .player {
    text-align: center;
    margin: 20px;
  }

  img {
    zoom: 2;
    width: 100%;
  }

  .main {
    @extend %column;
    width: 100%;
    // background: #777;
    background: #050505;
    max-height: 800px;
    overflow-y: auto;
    padding: 20px;
  }

  .sb-soundplayer-play-icon {
    width: 20px;
    height: 20px;
  }

  .progress-bar {
    height: 2em;
    width: 700px;
    background-color: white;
    margin: 2em auto 2em auto;
    margin-right: auto;
  }

  .progress-bar-inner {
    height: 100%;
    background-color: orange;
  }

  .play-timer {
    font-size: 2em;
  }


// GREG'S STYLES
.playlist {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }

  .track {
    background-color: #FF6C47;
    color: #FEE;
    border-radius: 5px 20px 5px;
    border: 2px solid #803624;
    margin: 5px 0;

    a {
      text-decoration: none;
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0;
    }

    img {
      height: 30px;
      width: 30px;
      display: inline-block;
      border: 2px outset #1A0B07;
    }

    .voteButtons {
      display: inline-block;
      margin: 0 15px;
      font-size: 30px;
      // padding-bottom: 5px;
      a {
        display: block;
      }
    }

    .info {
      margin: 0 15px;
      display: inline-block;
      // padding-bottom: 5px;
    }
  }
}

.SearchSidebar {
  width: 500px;

  input {
    width: 100%;
    font-size: 2em;
  }
}
