.App {

  body {
    font-family: sans-serif;
  }

  h1 {
    margin: 0;
    padding: 10px;
    font-size: 5em;
    font-weight: 100;
  }

  button {
    font-size: 3em;
    margin-bottom: .5em;
  }

  .play-button {
    width: 2em;
    height: 2em;
  }

  .masthead {
    background: #eee;
    text-align: center;
  }

  .player {
    text-align: center;
    margin: 20px;
  }

  .current-song {
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
  }

  img {
    zoom: 2;
    width: 100%;
  }

  .main {
    // @extend %column;
    width: 100%;
    background: #777;
    // max-height: 800px;
    overflow-y: auto;
    // padding: 20px;
    // margin-left: -20px;
  }

  .sb-soundplayer-play-icon {
    width: 20px;
    height: 20px;
  }

  .progress-bar {
    height: 2em;
    width: 700px;
    background-color: white;
    margin: 2em auto 2em auto;
    margin-right: auto;
  }

  .progress-bar-inner {
    height: 100%;
    background-color: orange;
  }

  .play-timer {
    font-size: 2em;
    font-weight: 100;
    color: black;
  }


// GREG'S STYLES
  .playlist {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    font-size: 1.5em;
  }

  ol {
    list-style: none;
  }

  .track {

    background-color: #333;
    color: #ddd;
    font-weight: 100;
    border-radius: 30px 5px 5px 5px;
    // border: 2px solid #803624;
    margin: 5px 0;

    a {
      text-decoration: none;
      margin: 0;
      padding: 0;
      color: #ddd;
    }

    p {
      margin: 0;
    }

    img {
      height: 30px;
      width: 30px;
      display: inline-block;
      // border: 2px outset #1A0B07;
      border-radius: 15px;
    }

    .voteButtons {
      display: inline-block;
      margin: 0 15px;
      font-size: 2em;
      text-align: center;
      // padding-bottom: 5px;
      a {
        display: block;
      }
      span.voteCount {
        font-size: 0.5em;
      }

      .liked-true {
        color: #C43F3F
      }
    }

    .info {
      margin: 0 15px;
      display: inline-block;
      // padding-bottom: 5px;
    }
  }
}

.SearchSidebar {
  width: 500px;
  font-size: 1.5em;

  div {
    font-weight: 100;
  }

  div:hover {
    color: #777;
    background-color: #333;
    cursor: pointer;
  }

  input {
    width: 100%;
  }
}
